$banner-pitcher: 'https://res.cloudinary.com/djlmbrvcx/image/upload/v1608617884/pitcher_banner_ovdnkl.png';
$banner-hobbes: 'https://res.cloudinary.com/djlmbrvcx/image/upload/v1608617884/hobbes_banner_gfetbq.png';
$banner-mulbtree: 'https://res.cloudinary.com/djlmbrvcx/image/upload/v1608609645/mulbtree_nyzei9.jpg';
$banner-cat: 'https://res.cloudinary.com/djlmbrvcx/image/upload/v1608609645/cat_lhfynl.jpg';
$banner-uxjap: 'https://res.cloudinary.com/djlmbrvcx/image/upload/v1608609645/uxjap_yugkea.jpg';

body {
  margin: 0;
  padding: 0;
}

main {
  background: $white;
  height: 100vh;
  width: 100%;
  margin: auto;

  .work {
    display: flex;
    justify-content: center;
    align-items: center;

    .main-content {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;

      .work-grid {
        width: 60%;
        .section-title {
          text-align: left;
          margin-bottom: 60px;
          line-height: .8;

          @media screen and (max-width: $grid-breakpoints-sm) {
            padding-top: 100px;
          }
        }

        .card-category:nth-child(1) {
          background-image: url($banner-pitcher);
        }

        .card-category:nth-child(2) {
          background-image: url($banner-hobbes);
        }

        .card-category:nth-child(3) {
          background-image: url($banner-mulbtree);
        }

        .card-category:nth-child(4) {
          background-image: url($banner-cat);
        }

        .card-category:nth-child(5) {
          background-image: url($banner-uxjap);
        }

        @media screen and (max-width: $grid-breakpoints-md) {
          padding-top: 400px;
          padding-bottom: 100px;
        }
      
        @media screen and (max-width: $grid-breakpoints-sm) {
          padding-top: 1000px;
          padding-bottom: 100px;
        }
      }
    }
  }
}