body {
  margin: 0;
  padding: 0;
}

main {
  background: $white;
  height: 100vh;
  width: 100%;
  margin: auto;

  // .navbar-sidemark {
  //   width: 195px;
  //   height: 195px;
  //   background: url($bck-img) no-repeat left center;
  //   border-radius: 0 0 0 100%;
  //   position: fixed;
  //   right: 0;
  //   top: 0;
  // }

  .work {
    display: flex;
    justify-content: center;
    align-items: center;

    .main-content {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;

      .work-grid {
        width: 60%;
        h1 {
          text-align: left;
          margin-bottom: 90px;
        }
        p {
          font-size: 14px;
          letter-spacing: 1px;
        }


      }
    }
  }
}