body {
  margin: 0;
  padding: 0;
}

main {
  background: $white;
  height: 100vh;
  width: 100%;
  margin: auto;

  .work {
    display: flex;
    justify-content: center;
    align-items: center;
    // overflow: hidden;

    .main-content {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;

      .work-grid {
        width: 60%;
        .section-title {
          text-align: left;
          margin-bottom: 60px;
          line-height: .8;

          @media screen and (max-width: $smartphones-xl) {
            padding-top: 100px;
          }
        }

        .card-category:nth-child(1) {
          background-image: url($banner-MoMA);
          background-size: cover;
        }

        .card-category:nth-child(2) {
          background-image: url($banner-pitcher);
          background-size: cover;
        }

        .card-category:nth-child(3) {
          background-image: url($banner-hobbes);
          background-size: cover;
        }

        .card-category:nth-child(4) {
          background-image: url($banner-mulbtree);
          background-size: cover;
        }

        .card-category:nth-child(5) {
          background-image: url($banner-cat);
          background-size: cover;
        }

        .card-category:nth-child(6) {
          background-image: url($banner-others);
          background-size: contain;
        }

        @media screen and (max-width: $tablets-xl) and (max-height: $portrait-xl) {
          padding-top: 400px;
          padding-bottom: 100px;
        }

        @media screen and (max-width: $tablets-xl) and (max-height: $portrait-md) {
          padding-top: 500px;
          padding-bottom: 100px;
        }

        @media screen and (max-width: $tablets-md) and (max-height: $portrait-xl) {
          padding-top: 800px;
          padding-bottom: 100px;
        }

        @media screen and (max-width: $tablets-md) and (max-height: $portrait-md) {
          padding-top: 1000px;
          padding-bottom: 100px;
        }
      
        @media screen and (max-width: $smartphones-xl) {
          padding-top: 900px;
          padding-bottom: 100px;
        }
      }
    }
  }
}