// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #F5CE2B;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Main colors
$angular-black: #000000;
$angular-black-50: rgba($angular-black, 0.5);
$angular-black-75: rgba($angular-black, 0.75);
$angular-black-90: rgba($angular-black, 0.9);
$white: #ffffff;
$white-38: rgba($white, 0.38);
$yolk-yellow: #F5CE2B;
