body {
  margin: 0;
  padding: 0;
}

main {
  background: $white;
  height: 100vh;
  width: 100%;
  margin: auto;

  .navbar-sidemark {
    width: 195px;
    height: 195px;
    background: url($bck-img) no-repeat left center;
    border-radius: 0 0 0 100%;
    position: absolute;
    right: 0;
    top: 0;
  }

  .about {
    display: flex;
    justify-content: center;
    align-items: center;

    .main-content {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;

      .bio {
        width: 50%;
        h1 {
          text-align: left;
          margin: 50px 0 100px 0;
        }
        p {
          font-size: 14px;
          letter-spacing: 1px;
        }

        .note {
          color: $yolk-yellow;
          font-weight: bold;
        }
        .footnote {
          text-transform: uppercase;
          letter-spacing: 0.2rem;
          margin: 40px 0 30px 0;
        }
        .avatar {
          float: right;
          height: 200px;
          width: 200px;
          background: url($profile-img) no-repeat center center;
          background-size: cover;
          border-radius: 100%;
          shape-outside: circle(50%);
          shape-margin: 10px;
          margin: 10px 0;
        }
      }
    }
  }
}