body {
  margin: 0;
  padding: 0;
}

main {
  background: $white;
  height: 100vh;
  width: 100%;
  margin: auto;

  .about {
    display: flex;
    justify-content: center;
    align-items: center;

    .main-content {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 65px;
      padding-top: 100px;

      .bio {
        width: 50%;
        .section-title {
          text-align: left;
          margin: 50px 0 100px 0;
        }
        p {
          font-size: 14px;
          letter-spacing: 1px;
        }

        .note {
          color: $yolk-yellow;
          font-weight: bold;
        }
        .footnote {
          text-transform: uppercase;
          letter-spacing: 0.2rem;
          margin: 40px 0 100px 0;
        }
        .avatar {
          float: right;
          height: 350px;
          width: 350px;
          background: url($profile-img) no-repeat center center;
          background-size: cover;
          border-radius: 100%;
          shape-outside: circle(50%);
          shape-margin: 5px;
          margin: 0 0 5px 5px;
        }
      }
    }
  }
}