body {
  margin: 0;
  padding: 0;
}

main {
  background: $white;
  height: 100vh;
  width: 100%;
  margin: auto;

  .about {
    display: flex;
    justify-content: center;
    align-items: center;

    .main-content {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 100px;
      padding-top: 60px;

      .bio {
        width: 50%;
        .section-title {
          text-align: left;
          margin: 50px 0 100px 0;
        }
        p {
          font-size: 14px;
          letter-spacing: 1px;
        }

        .note {
          color: $yolk-yellow;
          font-weight: bold;
        }
        .footnote {
          text-transform: uppercase;
          letter-spacing: 0.2rem;
          margin: 40px 0 100px 0;

          @media screen and (max-width: $smartphones-xl) {
            padding-bottom: 50px;
          }
        }
        .avatar {
          float: right;
          height: 350px;
          width: 350px;
          background: url($profile-img) no-repeat center center;
          background-size: cover;
          border-radius: 100%;
          shape-outside: circle(50%);
          shape-margin: 5px;
          margin: 0 0 5px 5px;

          @media screen and (max-width: $desktops-md) {
            height: 320px;
            width: 320px;
          }

          @media screen and (max-width: $tablets-xl) {
            height: 270px;
            width: 270px;
          }

          @media screen and (max-width: $tablets-md) {
            height: 220px;
            width: 220px;
          }

          @media screen and (max-width: $smartphones-xl) {
            height: 170px;
            width: 170px;
          }

          @media screen and (max-width: $smartphones-md) {
            height: 150px;
            width: 150px;
          }

          @media screen and (max-width: $smartphones-xs) {
            height: 130px;
            width: 130px;
          }
        }

        @media screen and (max-width: $desktops-xl) and (max-height: $portrait-md) {
          padding-top: 100px;
        }

      
        @media screen and (max-width: $desktops-md) and (max-height: $portrait-xxl) {
          padding-top: 0px;
        }

        @media screen and (max-width: $desktops-md) and (max-height: $portrait-xl) {
          padding-top: 100px;
        }

        @media screen and (max-width: $desktops-md) and (max-height: $portrait-md) {
          padding-top: 200px;
        }

        @media screen and (max-width: $tablets-xl) and (max-height: $portrait-xl) {
          padding-top: 100px;
        }

        @media screen and (max-width: $tablets-xl) and (max-height: $portrait-md) {
          padding-top: 200px;
        }
        
        @media screen and (max-width: $tablets-md) and (max-height: $portrait-xl) {
          padding-top: 100px;
        }

        @media screen and (max-width: $tablets-md) and (max-height: $portrait-md) {
          width: 70%;
          padding-top: 100px;
        }

        @media screen and (max-width: $smartphones-xl) {
          width: 70%;
          padding-top: 500px;
        }

        @media screen and (max-width: $smartphones-md) {
          width: 70%;
          padding-top: 600px;
        }

        @media screen and (max-width: $smartphones-xs) {
          width: 70%;
          padding-top: 800px;
        }
      }
    }
  }
}