body {
  margin: 0;
  padding: 0;
}

main {
  background: $white;
  height: 100vh;
  width: 100%;
  margin: auto;

  .contact {
    display: flex;
    justify-content: center;
    align-items: center;

    .main-content {
      width: 75%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;

      .contact-title {
        width: 60%;
        .section-title {
          text-align: left;
          margin: 50px 0 100px 0;
        }
        p {
          font-size: 14px;
          letter-spacing: 1px;
          width: 70%;
          margin-bottom: 40px;
        }
        .contact-info p {
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 0.2rem;
          line-height: 1.6rem;
          width: 100%;
          i {
            margin-right: 5px;
          }

          @media screen and (max-width: $grid-breakpoints-sm) {
            font-size: 10px;
          }
        }

        @media screen and (max-width: $grid-breakpoints-md) {
          padding-top: 100px;
        }

        @media screen and (max-width: $grid-breakpoints-sm) {
          width: 90%;
          padding-top: 300px;
        }
      }

      .intro-text-grid {
        width: 80%;
        height: 20%;
        padding: 16px 32px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
      
        .intro-text-grid-item {
          img {
            margin: auto;
            display: block;
            width: 40px;
            height: 40px;
            object-fit: contain;
          }
          p {
            font-size: 10px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
          }
        }
      
        @media screen and (max-width: $grid-breakpoints-sm) {
          padding-bottom: 350px;
        }
      }
    }
  }
}