body {
  margin: 0;
  padding: 0;
}

main {
  background: $white;
  height: 100vh;
  width: 100%;
  margin: auto;

  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .main-brackets h1 {
      font-size: 400px;
      text-align: center;
      font-weight: lighter;
      margin: 0 0 100px 0;

      @media screen and (max-width: $grid-breakpoints-sm) {
        font-size: 220px;
        margin: 0 0 40px 0;
      }
    }

    #left {
      margin-left: 350px;

      @media screen and (max-width: $grid-breakpoints-xl) {
        margin-left: 140px;
        }

      @media screen and (max-width: $grid-breakpoints-lg) {
        margin-left: 100px;
        }

      @media screen and (max-width: $grid-breakpoints-md) {
        margin-left: 10px;
        }

      @media screen and (max-width: $grid-breakpoints-sm) {
      margin-left: 10px;
      }
    }
    
    #right {
      margin-right: 350px;

      @media screen and (max-width: $grid-breakpoints-xl) {
        margin-right: 140px;
        }

      @media screen and (max-width: $grid-breakpoints-lg) {
        margin-right: 100px;
        }

      @media screen and (max-width: $grid-breakpoints-md) {
        margin-right: 10px;
        }

      @media screen and (max-width: $grid-breakpoints-sm) {
        margin-right: 10px;
        }
    }
  }

  .main-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .main-title {
      z-index: 5;
      h1 {
        color: $navbar-light-color;
        margin: 0;
        font-size: 80px;
        text-align: center;
        z-index: 5;
  
        &:nth-child(1) {
          margin-top: 70px;
          margin-bottom: 10px;

          @media screen and (max-width: $grid-breakpoints-sm) {
            margin-top: 90px;
          }
        }
  
        &:nth-child(2) {
          margin-bottom: 30px;
          color: $white;

          @media screen and (max-width: $grid-breakpoints-sm) {
            margin-bottom: 20px;
          }
        }
  
        &:nth-child(3) {
          margin-bottom: 30px;

          @media screen and (max-width: $grid-breakpoints-sm) {
            margin-bottom: 20px;
          }
        }

        @media screen and (max-width: $grid-breakpoints-sm) {
          font-size: 40px;
        }
      }
    }

    .banner-btn {
      margin-top: 70px;
      margin-bottom: 20px;

      @media screen and (max-width: $grid-breakpoints-sm) {
        margin-top: 30px;
      }
    }

    .yolk-mark {
      height: 250px;
      width: 250px;
      background: url($bck-pattern) no-repeat center center;
      border-radius: 100%;
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      // animation: pulse 2000ms linear infinite;
      // -webkit-animation: pulse 2000ms linear infinite;
      // -moz-animation: pulse 2000ms linear infinite;
      animation: blob 5s linear infinite;

      // @keyframes pulse{
      //   0% {
      //     transform: scale(0.8);
      //     filter: alpha(opacity=50);
      //     opacity: 0.5;
      //   }
      //   10% {
      //     transform: scale(1.1);
      //     filter: alpha(opacity=1);
      //     opacity: 1;
      //   }
      //   20% {
      //     transform: scale(0.9);
      //     filter: alpha(opacity=1);
      //     opacity: 1;
      //   }
      //   100% {
      //     transform: scale(0.8);
      //     filter: alpha(opacity=50);
      //     opacity: 0.5;
      //   }

        @keyframes blob {
          0%,100% { border-radius: 64% 36% 27% 73% / 55% 58% 42% 45%;}
          25% { border-radius: 73% 27% 26% 38% / 73% 36% 64% 27%;}
          50% { border-radius: 28% 72% 44% 56% / 49% 40% 60% 51%;}
          75% { border-radius: 40% 60% 70% 30% / 47% 62% 38% 53%;}
      }

      @media screen and (max-width: $grid-breakpoints-sm) {
        height: 130px;
        width: 130px;
      }
    }
  }
}
