body {
  margin: 0;
  padding: 0;
}

main {
  background: $white;
  height: 100vh;
  width: 100%;
  margin: auto;

  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .main-brackets h1 {
      font-size: 400px;
      text-align: center;
      font-weight: lighter;
      margin: 0 0 100px 0;
    }

    #left {
      margin-left: 350px;
    }
    
    #right {
      margin-right: 350px;
    }
  }

  .main-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .main-title {
      z-index: 5;
      h1 {
        color: $navbar-light-color;
        margin: 0;
        font-size: 80px;
        text-align: center;
        z-index: 5;
  
        &:nth-child(1) {
          margin-top: 70px;
          margin-bottom: 10px;
        }
  
        &:nth-child(2) {
          margin-bottom: 30px;
          color: $white;
        }
  
        &:nth-child(3) {
          margin-bottom: 30px;
        }
      }
    }

    .banner-btn {
      margin-top: 70px;
      margin-bottom: 20px;
    }

    .yolk-mark {
      height: 250px;
      width: 250px;
      background: url($bck-pattern) no-repeat center center;
      border-radius: 100%;
      position: absolute;
      top: 32vh;
    }
  }
}
