body {
  margin: 0;
  padding: 0;
}

main {
  background: $white;
  height: 100vh;
  width: 100%;
  margin: auto;

  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    .main-brackets h1 {
      font-size: 400px;
      text-align: center;
      font-weight: lighter;
      margin: 0 0 100px 0;

      @media screen and (max-width: $tablets-xl) {
        font-size: 350px;
      }

      @media screen and (max-width: $tablets-md) {
        font-size: 300px;
      }

      @media screen and (max-width: $smartphones-xl) {
        font-size: 220px;
        margin: 0 0 40px 0;
      }

      @media screen and (max-width: $smartphones-xs) {
        font-size: 160px;
        margin: 0 0 30px 0;
      }
    }

    #left {
      margin-left: 350px;

      @media screen and (max-width: $desktops-xxl) {
        margin-left: 330px;
        }

      @media screen and (max-width: $desktops-xl) {
        margin-left: 250px;
        }

      @media screen and (max-width: $desktops-md) {
        margin-left: 160px;
        }

      @media screen and (max-width: $tablets-xl) {
        margin-left: 100px;
        }

      @media screen and (max-width: $tablets-md) {
        margin-left: 60px;
        }

      @media screen and (max-width: $smartphones-xl) {
      margin-left: 50px;
        }

      @media screen and (max-width: $smartphones-md) {
        margin-left: 5px;
        }

      @media screen and (max-width: $smartphones-xs) {
        margin-left: 0px;
        }
    }
    
    #right {
      margin-right: 350px;

      @media screen and (max-width: $desktops-xxl) {
        margin-right: 330px;
        }

      @media screen and (max-width: $desktops-xl) {
        margin-right: 250px;
      }

      @media screen and (max-width: $desktops-md) {
        margin-right: 160px;
      }

      @media screen and (max-width: $tablets-xl) {
        margin-right: 100px;
      }

      @media screen and (max-width: $tablets-md) {
        margin-right: 60px;
      }

      @media screen and (max-width: $smartphones-xl) {
        margin-right: 50px;
      }

      @media screen and (max-width: $smartphones-md) {
        margin-right: 5px;
      }

      @media screen and (max-width: $smartphones-xs) {
        margin-right: 0px;
      }
    }
  }

  .main-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .main-title {
      z-index: 5;
      h1 {
        color: $navbar-light-color;
        margin: 0;
        font-size: 80px;
        text-align: center;
        z-index: 5;
  
        &:nth-child(1) {
          margin-top: 70px;
          margin-bottom: 10px;

          @media screen and (max-width: $smartphones-xl) {
            margin-top: 90px;
          }
        }
  
        &:nth-child(2) {
          margin-bottom: 30px;
          color: $white;

          @media screen and (max-width: $smartphones-xl) {
            margin-bottom: 20px;
          }
        }
  
        &:nth-child(3) {
          margin-bottom: 30px;

          @media screen and (max-width: $smartphones-xl) {
            margin-bottom: 20px;
          }
        }

        @media screen and (max-width: $tablets-xl) {
          font-size: 70px;
        }

        @media screen and (max-width: $tablets-md) {
          font-size: 60px;
        }

        @media screen and (max-width: $smartphones-xl) {
          font-size: 40px;
        }

        @media screen and (max-width: $smartphones-md) {
          font-size: 35px;
        }

        @media screen and (max-width: $smartphones-xs) {
          font-size: 32px;
        }
      }
    }

    .banner-btn {
      margin-top: 70px;
      margin-bottom: 20px;

      @media screen and (max-width: $smartphones-xl) {
        margin-top: 30px;
      }
    }

    .yolk-mark {
      height: 250px;
      width: 250px;
      background: url($bck-pattern) no-repeat center center;
      border-radius: 100%;
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      animation: blob 5s linear infinite;

        @keyframes blob {
          0%,100% { border-radius: 64% 36% 27% 73% / 55% 58% 42% 45%;}
          25% { border-radius: 73% 27% 26% 38% / 73% 36% 64% 27%;}
          50% { border-radius: 28% 72% 44% 56% / 49% 40% 60% 51%;}
          75% { border-radius: 40% 60% 70% 30% / 47% 62% 38% 53%;}
      }

      @media screen and (max-width: $smartphones-xl) {
        height: 130px;
        width: 130px;
      }
    }
  }
}
