<footer>
  <div class="footer">
    <div class="footer-links">
      <a href="https://www.linkedin.com/in/volivers/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/volivers" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://dribbble.com/volivers" target="_blank"><i class="fab fa-dribbble"></i></a>
    </div>
    <div class="footer-copyright">
        <p>Vasco Oliveira © 2021</p>
    </div>
  </div>
</footer>