<!-- Modal 6 -->
<div class="modal fade" id="workModal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header mx-2">
        <h1 class="modal-title mt-4 mb-2 ml-3" id="exampleModalLongTitle">others</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-4">
        <div class="work-extras">
          <img src="https://res.cloudinary.com/djlmbrvcx/image/upload/v1609117342/others_long_ais4ob.png" alt="Other screens" width="100%">
        </div>
      </div>
    </div>
  </div>
</div>