<main>
  <section class="about">
    <div class="navbar-sidemark"></div>
    <div class="main-content">
      
      <div class="bio">
        <h1>about me</h1>
        <div class="avatar"></div>
        <p>On April 1<sup>st</sup> of 2001, I was diagnosed with a unique and yet terrible human disorder: I’m not allowed to eat eggs
         for the rest of my life. If I eventually have one, I’ll turn into a chicken (true story).</p>

        <p>Shocked, the doctor just started screaming prescriptions about some <b>NEW DIET</b> blah blah <b>NO MORE BREAKFAST</b> blah
         blah <b>NO MORE EASTER</b>. Ever since, I grew up with the pain of every lonely bacon morning or the kids at school mocking me
         with Humpty Dumpty nicknames.</p>
         
        <p>However, I survived. But mostly because of what I found later in college, exactly when I learned how to cook in a modern kitchen:
         actually you can make an omelet with no eggs (without going vegan). Some secret ingredient you say? Might be. Or, perhaps, a combo 
         of 2 areas – <span class='badge badge-pill badge-info'>Engineering</span> and <span class='badge badge-pill badge-info'>Communications</span> – on mixing, rolling and scrambling
         to make a superpower happen out of any obstacle.</p>

        <p><b><i>«Yeah, that's right, I'm the <span class='note'>Egg Man</span>.»</i>*</b> As it’s all about the eggs, it’s all about golden ideas. And creative projects.
         And ambitious careers. So that I can have the perfect meal every day before going to work for you, every day not to be a chicken.</p>

        <p class="footnote">* Beastie Boys – Egg Man (<i class="far fa-play-circle"></i> NOW PLAYING)</p>
      </div>

    </div>
  </section>
</main>