<main>
  <section class="contact">
    <div class="navbar-sidemark"></div>
    <div class="main-content">
      
      <div class="contact-title">
        <h1 class="section-title">say hello</h1>
        <p>Get in touch so we work together on your next project,
        or follow me on social media for more updates and awesome news.</p>
        <div class="contact-info">
          <p>
            <i class="far fa-envelope"></i>vascooliveira@outlook.com<br>
            <i class="fas fa-phone-alt"></i>+351 962 412 967<br>
            <i class="fas fa-map-marker-alt"></i>Lisbon, PT
          </p>
        </div>
      </div>

      <div class="intro-text-grid">
        <div class="intro-text-grid-item">
          <img src="https://cdn.pixabay.com/photo/2014/03/25/15/19/family-home-296516__480.png" alt="UX/UI Designer">
          <p>UX/UI Designer</p>
        </div>

        <div class="intro-text-grid-item">
          <img src="https://cdn.pixabay.com/photo/2017/09/26/18/36/brain-2789698__480.png" alt="Frontend Developer">
          <p>Frontend Developer</p>
        </div>

        <div class="intro-text-grid-item">
          <img src="https://cdn.pixabay.com/photo/2017/01/31/23/59/book-2028349_1280.png" alt="Storyteller">
          <p>Storyteller</p>
        </div>
      </div>
    </div>
  </section>
</main>