<main>
  <section class="banner">
    <div class="main-brackets animate__animated animate__fadeInLeft" id="left"><h1>[</h1></div>
    <div class="main-content">
      
      <div class="main-title">
        <h1 class="animate__animated animate__bounce">design & build</h1>
        <h1 class="animate__animated animate__bounce">not</h1>
        <h1 class="animate__animated animate__bounce">to be</h1>
        <h1 class="animate__animated animate__bounce">a chicken.</h1>
      </div>
      <div class="yolk-mark"></div>
      <div class="banner-btn">
        <%= link_to pages_about_path, {:class=>'btn btn-ghost'} do %>
          Learn more <i class="fas fa-arrow-right"></i>
        <% end %>
      </div>
    </div>
    <div class="main-brackets main-brackets animate__animated animate__fadeInRight" id="right"><h1>]</h1></div>
  </section>
</main>
