<main>
  <section class="banner">

    <div class="banner-title">
      <div class="main-brackets"><h1>(</h1></div>
      <div class="main-title">
        <h1>not</h1>
        <h1>to be</h1>
        <h1>a</h1>
        <h1>chicken.</h1>
      </div>
      <div class="main-brackets"><h1>)</h1></div>
    </div>

  </section>
</main>
