<main>
  <section class="intro">
    <div class="intro-text">

      <div class="intro-text-title">
        <p>Vasco Oliveira<br>presents</p>
        <div class="intro-text-title-img"></div>
        <h1>the<br>egg<span class="dot">•</span>man<sup>TM</sup></h1>
      </div>

      <div class="intro-btn animate__animated animate__fadeInUp">
        <%= link_to "Enter", pages_home_path, {:class=>'btn btn-flat'} %>
      </div>

      <div class="intro-text-grid">
        <div class="intro-text-grid-item">
          <img src="https://cdn.pixabay.com/photo/2014/03/25/15/19/family-home-296516__480.png" alt="UX/UI Designer">
          <p>UX/UI Designer</p>
        </div>
        
        <div class="intro-text-grid-item">
          <img src="https://cdn.pixabay.com/photo/2017/09/26/18/36/brain-2789698__480.png" alt="Frontend Developer">
          <p>Frontend Developer</p>
        </div>
        
        <div class="intro-text-grid-item">
          <img src="https://cdn.pixabay.com/photo/2017/01/31/23/59/book-2028349_1280.png" alt="Storyteller">
          <p>Storyteller</p>
        </div>
      </div>
    </div>

    <div class="intro-img">
      <div class="intro-img-logo"></div>
      <p>egg<span class="dot">•</span>man<sup>TM</sup></p>
    </div>
  </section>
</main>