.btn {
  letter-spacing: 1px;
}

.btn-ghost {
  color: $angular-black-75;
  border: 1px solid $angular-black-75;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: all 0.3s ease;

  i {
    margin-left: 5px;
  }

  &:hover {
    background: $angular-black-75;
    color: $white;
    box-shadow: 0px 5px 30px 0px rgba($angular-black-75, 0.3);
  }
}

.btn-ghost-white {
  color: $white;
  border: 1px solid $white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  // opacity: 0.6;
  transition: all 0.3s ease;

  i {
    margin-left: 5px;
  }

  &:hover {
    background: $white;
    color: rgba($angular-black-75, 0.6);
    box-shadow: 0px 5px 30px 0px rgba($angular-black-75, 0.3);
  }
}

.btn-flat {
  background: $angular-black-75;
  color: $white;
  // text-transform: lowercase;
  border: 1px solid $angular-black-75;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  box-shadow: 0px 5px 30px 0px rgba($angular-black-75, 0.3);
  transition: all 0.3s ease;
  // transition: background 0.3s ease;
  // transition: color 0.3s ease;
  // transition: box-shadow 0.3s ease;

  i {
    margin-left: 5px;
  }

  &:hover {
    background: $white;
    color: $angular-black-75;
    box-shadow: none;
  }
}