.footer {
  width: 100%;
  background: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  position: fixed;
  bottom: 0;
}
.footer-copyright p {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-top: 15px;
}
.footer-links {
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-links a {
  color: $angular-black-75;
  text-decoration: none;
  font-size: 18px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: $white;
  transform: rotate(360deg);
  transition: all ease 0.5s;
}

.yolk-social {
  height: 40px;
  width: 40px;
  background: url($bck-pattern) no-repeat center center;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}