.navbar-lewagon {
  justify-content: space-between;
  background: $white;

  h1 {
    color: $angular-black-75;
    sup {
      font-size: 8px;
      margin: 24px 0 0;
      display: inline-block;
      vertical-align: text-top;
    }
    .dot {
      vertical-align: middle;
      color: $yolk-yellow;
      margin: 0 3px;
    }
  }

  #navbarSupportedContent {
    margin: 10px 30px 0 0;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  margin-left: 40px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  margin-right: 10px;
  z-index: 50;

  &:nth-child(3) {
    margin-right: 0;
  }

  @media screen and (max-width: $smartphones-xl) {
    margin-left: 40px;
  }
}

.navbar-sidemark {
  width: 195px;
  height: 195px;
  background: url($bck-img) no-repeat left center;
  border-radius: 0 0 0 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;

  @media screen and (max-width: $smartphones-xl) {
    width: 130px;
    height: 130px;
  }
}

.nav-link {
  transition: color 0.3s ease-in-out;

  &:hover {
    color: $navbar-light-hover-color;
  }
}

#contact-link {
  color: $white;
  transition: color 0.3s ease-in-out;

  @media screen and (max-width: $smartphones-xl) {
    color: $navbar-light-color;
  }

  &:hover {
    color: $navbar-light-hover-color;
  }

  &.active {
    color: $navbar-light-active-color;
  }
}

.navbar-toggler {
  z-index: 50;
}

.logo {
  margin: 10px 0 0 40px;
}
